streamlit
transformers
sentence-transformers
openai
torch
pandas
streamlit==1.24.0
google-cloud-bigquery==3.11.4
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.0
langchain_google_genai
langchain_core
